{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block script %} 
    window.addEventListener('DOMContentLoaded',(event)=>{
        $("#customers").DataTable({
            'pageLength':50
            })

        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);    
});

function drawChart() {

	// Create the data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Topping');
	data.addColumn('number', 'Slices');
	data.addRows([
	  ['Mushrooms', 3],
	  ['Onions', 1],
	  ['Olives', 1],
	  ['Zucchini', 1],
	  ['Pepperoni', 2]
	]);

	// Set chart options
	var options = {'title':'How Much Pizza I Ate Last Night',
				   'width':400,
				   'height':300};

	// Instantiate and draw our chart, passing in some options.
	var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	chart.draw(data, options);
  }
{% endblock %}
{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <!-- <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr> -->
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<div>
    <h4>Light Usage:</h4>
    <table id='customers'>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Value set to</th>
                <th>Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in lightUsage %}
                <tr>
                    <td>
                        {{row.user_id}}
                    </td>
                    <td>
                        {{row.currentValue}}
                    </td>
                    <td>
                        {{row.timeStamp}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
</div>
{% endblock %}


