{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block script %} 
    window.addEventListener('DOMContentLoaded',(event)=>{
        $("#customers").DataTable({
            'pageLength':50
            })

      //  google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        //google.charts.setOnLoadCallback(drawChart);    
});

function drawChart() {
    /* var data = google.visualization.arrayToDataTable([
      ['Year', 'Sales'],
      ['2004',  1000],
      ['2005',  1170],
      ['2006',  660],
      ['2007',  1030]
    ]);*/ 

    var data = new google.visualization.DataTable();
    data.addColumn('timeofday','time');
    data.addColumn('number','lights');
    data.addRows([

        [[8,30,0],0],[[9,30,0],1],[[10,30,0],0],
        [[11,30,0],1],[[12,30,0],0], [[13,30,0],1],
        [[14,30,0],0],[[15,30,0],1], [[16,30,0],0],
        [[17,30,0],1],[[18,30,0],0], [[19,30,0],1],
        [[20,30,0],0],[[21,30,0],1], [[22,30,0],0]
        
    ])

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
{% endblock %}
{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <!-- <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr> -->
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>

<div>
    <h4>Light Usage:</h4>
    <table id='customers'>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Value set to</th>
                <th>Room</th>
                <th>Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in lightUsage %}
                <tr>
                    <td>
                        test
                        <!-- {{row.user_id}} -->
                    </td>
                    <td>
                        {{row.currentValue}}
                    </td>
                    <td>
                        {{row.room}}
                    </td>
                    <td>
                        {{row.timeStamp}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
</div>
{% endblock %}


